[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "loadings"]
	path = loadings
	url = https://github.com/hiroyukiyamamoto/loadings
[submodule "mseapca"]
	path = mseapca
	url = https://github.com/hiroyukiyamamoto/mseapca
